.container {
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap; 
  align-items: center; 
  gap: 1rem; 
}

.underline {
  padding: 0.5rem 1rem; 
  font-size: 1rem; 
  color: white; 
  text-decoration: none;
  background-image: linear-gradient(120deg, var(--accent-color) 100%, var(--accent-color) 100%);
  background-repeat: no-repeat;
  background-size: 0% 0.2em; 
  background-position: 0 100%; 
  transition: background-size 0.3s ease-in-out, color 0.3s ease-in-out; 
  border-radius: 4px; 
}

.underline:hover {
  background-size: 100% 0.2em; 
  color: black; 
}